.content-page-body {
  .rigdig-widget {
    $self: &;

    height: 100%;
    padding: 24px 15px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: map-get($spacers, block);
    background-color: $gray-100;
    border-radius: 4px;

    .rigdig-alert__wrapper {
      z-index: 5;
      position: absolute;
      margin-top: 0;
      background-color: #f2e4e6; //hsla(0, 100%, 70%, .1)
      margin-right: 20px;
    }

    @media (max-width: 980px) {
      &__header {
       .rigdig-widget__report-img {
          display: block;
          margin-right: 0;
          margin-bottom: 24px;
          align-self: flex-start;
          &--desktop {
            display: none;
          }
        }
      }
    }

    @media (min-width: 980px) {
      margin-left: calc(-50vw - -350px);
      margin-right: calc(-50vw - -350px);

      &__header {
       .rigdig-widget__report-img--mobile {
          display: none;
        }
      }

      &__form {
        width: 50%;
      }
    }

    &__header {
      display: flex;
      flex-direction: row;
    }
    .rigdig-alert__header,
    &__title {
      margin-bottom: 8px;
      @include skin-typography($style: "header-2");
    }
    .rigdig-alert__wrapper p,
    &__description {
      margin-bottom: 16px;
      @include skin-typography($style: "small-body-text");
    }

    &__website-section-name {
      @include skin-typography($style: "slug-small", $link-style: "primary");
      display: block;
      margin-bottom: 12px;
    }

    &__inner-wrapper {
      display: flex;
      max-width: $skin-content-body-max-width;
      margin-left: auto;
      margin-right: auto;
    }

    &__link-wrapper {
      display: flex;
      flex-direction: row;
    }

    &__report-img {
      margin-left: 24px;
      margin-right: -125px;
      margin-bottom: -149px;
      box-shadow: none;
    }

    .btn-primary {
      font-size: 14px;
      padding: 14px;
      white-space: nowrap;
      vertical-align: middle;
    }

    .learn-more-link {
      margin-left: 24px;
      @include skin-typography($style: "small-body-text", $link-style: "primary");
      color: $primary;
    }
    &__container {
      display: flex;
      max-width: $skin-content-body-max-width;
      background-color: transparent;
      padding: 0;
    }
    &__header {
      font-size: 20px;
    }
    &__call-to-action {
      font-size: 16px;
    }
    .btn-primary + .btn-secondary + .learn-more-link {
      display: none;
    }
  }
  .rigdig-modal {
    &__subtitle {
      margin-bottom: 0;
    }
    &__copy {
      font-size: 16px;
      margin-bottom: 1rem;
    }
  }
}
