$comment-start-height: 440px !default;
$bottom-gradient-height: 80px !default;
.comment-stream {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  margin-top: 16px;

  &__toggle-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 265px;
    margin-top: -60px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    text-transform: initial;
    z-index: 2;
    &.btn-secondary,
    &.btn-secondary:hover,
    &.btn-secondary:focus {
      background-color: $white;
    }
  }
}

.comment-toggle-arrow {
  margin-left: 5px;
  svg {
    fill: $primary;
  }
}

.idx-comment-stream {
  $self: &;
  position: relative;
  display: block;
  height: $comment-start-height;
  overflow: hidden;
  margin-top: 24px;
  border: 1px solid $gray-200;
  border-radius: 4px;
  padding-top: map-get($spacers, block);
  padding-right: map-get($spacers, 3);
  padding-bottom: map-get($spacers, block);
  padding-left: map-get($spacers, 3);
  &::after {
    height: 50px;
    background-color: lawngreen;
  }
  &__counter {
   &--0,
   &--1 {
     ~ .comment-stream__toggle-btn {
       display: none;
     }
   }
  }

  &--open {
    height: initial;
    ~ .comment-stream__toggle-btn {
      display: none;
    }
    #{ $self }__bottom {
      display: none;
    }
  }

  &__header {
    margin-bottom: 24px;

    font-size: 24px;
    font-weight: $font-weight-semibold;
    line-height: 1;
    color: $gray-800;
    letter-spacing: .25px;
  }

  &__latest-comments {
    font-family: $skin-font-family-primary;
    font-size: 20px;
    font-weight: $font-weight-semibold;
    line-height: 1;
    color: $gray-800;
    letter-spacing: .25px;
  }

  &__post {
    .btn {
      margin-top: 24px;
    }
  }

  &__posts {
    #{ $self }__post:last-of-type .idx-comment-post {
      border-bottom: none;
      padding-bottom: 0;
    }
    margin-top: 6px;
  }

  &__login-form-wrapper {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $gray-200;
  }

  &__login-message {
    @include make-col-ready();
    @include make-col(5);
    font-size: 16px;
    line-height: 1.44;
    padding-left: 0;
    &--cta {
      font-size: 18px;
      display: block;
      font-weight: $font-weight-bold;
    }
  }

  &__login-form {
    padding-bottom: 24px;
    @include make-col-ready();
    @include make-col(7);
    &:only-child {
      @include make-col(12);
    }
    .form-group {
      @include media-breakpoint-up(md) {
        // width: 50%;
      }
    }

    .form-control {
      margin-bottom: 14px;
    }

    h4 {
      font-size: 20px;
      font-weight: $font-weight-semibold;
      line-height: 1;
      color: $gray-800;
    }

    p {
      font-size: 18px;
      font-weight: $font-weight-normal;
      line-height: 1.44;
      color: $gray-800;
    }

    em {
      font-weight: $font-weight-medium;
    }
  }

  &__close-form-wrapper {
    display: flex;
  }

  &__close-form {
    @include theme-toggle-button();
    margin-left: auto;
  }
  &__bottom {
    height: $bottom-gradient-height;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+99&0+3,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    position: absolute;
    top: $comment-start-height - $bottom-gradient-height;
    width: 100%;
    left: 0;
    right: 0;
  }
}

.idx-comment-post {
  padding-top: 24px;
  padding-bottom: 24px;

  border-bottom: 1px solid $gray-200;

  &__flagged {
    margin-bottom: 19px !important; // stylelint-disable-line
    font-weight: $font-weight-medium;
    color: $gray-900;
  }

  &__header {
    margin-bottom: 19px;
    display: flex;
    flex-direction: row;

    :nth-child(2) {
      margin-left: map-get($spacers, 1);
      display: flex;
      justify-content: space-between;
    }
  }

  &__display-name {
    margin-bottom: 2px;
    font-size: 16px;
    font-weight: $font-weight-bold;
    line-height: 1.3125;
    color: $gray-800;
  }

  &__created-at {
    font-size: 16px;
    line-height: 1.3125;
    color: $gray-700;
  }

  &__body {
    font-family: $skin-font-family-primary;
    font-size: 18px;
    font-weight: $font-weight-normal;
    line-height: 1.44;
    color: $gray-800;
    letter-spacing: .25px;

    p {
      margin-bottom: 0;
    }
  }
}

.idx-create-comment {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid $gray-200;

  .form-group:first-child {
    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }
}
