.top-250 {
  &__header {
    margin-bottom: 24px;

    font-size: 20px;
    font-weight: $font-weight-semibold;
    line-height: 1;
    color: $gray-800;
    letter-spacing: .25px;
  }

  &__login-form,
  &__profile-form {
    padding-bottom: 24px;
    border-bottom: 1px solid $gray-200;
  }

  &__login-form {
    .form-group {
      @include media-breakpoint-up(md) {
        width: 50%;
      }
    }
  }
}

.top250-header {
  font-family: $skin-font-family-secondary;
  &__left-wrapper,
  &__right-wrapper {
    display: flex;
    justify-content: center;
    padding: $block-spacer;
    padding-top: 60px;
  }
  &__left-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  &__right-wrapper {
    @include media-breakpoint-down(lg) {
      padding-top: $block-spacer;
    }
    .top250-chart {
      max-width: calc(100% - 32px);
    }
  }
  &__sponsored-by {
    margin-top: 20px;
    font-size: 18px;
  }
  &__intro {
    // margin-top: 20px;
    padding-top: 20px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
  }
  &__logo {
    .top250-logo-link {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .top250-logo {
      width: 400px;
      max-width: calc(100% - 32px);
    }
  }
}

.top250-access {
  margin-bottom: $block-spacer;
  font-family: $skin-font-family-secondary;
  &__title {
    font-size: 40px;
  }
  &__description {
    margin-top: 20px;
    font-size: 21px;
  }
  &__call-to-action {
    margin-top: 20px;
    font-size: 16px;
  }
  &__logo {
    width: 215px;
  }
}

.top250-login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $block-spacer;
  margin-top: $block-spacer;
  color: $white;
  background-color: #0d9dc9;

  @include media-breakpoint-down(lg) {
    margin-right: -1rem;
    margin-left: -1rem;
  }

  &__description {
    margin-top: $block-spacer;
    font-size: 24px;
    text-align: center;
  }
  &__disclaimer {
    max-width: 400px;
    margin-top: $block-spacer;
    font-size: 11px;
    text-align: center;
  }
  .top-250 {
    &__form {
      &--login {
        margin-top: $block-spacer;
        fieldset {
          display: flex;
          justify-content: center;
          @include media-breakpoint-down(md) {
            flex-direction: column;
            align-items: stretch;
          }
        }
        label {
          display: none;
        }
        .form-group {
          margin-bottom: 0;
        }
        button {
          margin-left: $block-spacer / 2;
          font-weight: $font-weight-normal;
          text-transform: none;
          white-space: nowrap;
          @include media-breakpoint-down(md) {
            margin-top: $block-spacer / 2;
            margin-left: 0;
          }
        }
      }
    }
  }
}

.page-wrapper {
  &__section {
    &--top250 {
      min-height: 360px;
      color: $white;
      background-color: #103a57;
      background-image: url("https://img.ccjdigital.com/files/base/randallreilly/all/image/static/ccj/top150-banner.png");
      background-repeat: no-repeat;
      background-position: center top;
    }
  }
  &__website-section-name {
    &--top250-related-content {
      @include media-breakpoint-up(md) {
        padding-right: 1rem;
        padding-left: 1rem;
      }
    }
  }
}

.node-list--top250 {
  .node-list {
    &__nodes {
      flex-grow: 0;
    }
    &__node {
      @include media-breakpoint-up(md) {
        padding-right: 1rem;
        padding-left: 1rem;
      }
    }
  }
  .section-feed-content-node {
    $self: &;

    $image-size: 112px;
    $image-desktop-width: 112px;
    $image-desktop-height: 112px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    &__image-wrapper {
      @include media-breakpoint-up(md) {
        width: $image-desktop-width;
        min-width: $image-desktop-width;
        height: $image-desktop-height;
        margin-right: 0;
        margin-left: 15px;
      }
    }

    &__image {
      @include media-breakpoint-up(md) {
        width: $image-desktop-width;
        height: $image-desktop-height;
      }
    }

    &__content-teaser {
      display: none;
    }
    &__content-short-name {
      width: 100%;
      @include skin-typography($style: "header-1.5", $link-style: "primary", $breakpoint: xl);
    }
  }
}
