$wrapper-border-radius: 10px !default;
.rigdig-alert {
  &__wrapper {
    margin: 1rem 0 0;
    padding: 1rem;
    background: rgba(255, 100, 100, .1);
    border: 1px solid $red;
    border-radius: $input-border-radius;
    color: darken($red, 50%);
  }
  &__header {
    @include skin-typography($style: "section-header-small");
    text-transform: none;
  }
  &__content {
    margin-top: map-get($spacers, 2);
    & p:last-child {
      margin-bottom: 0;
    }
  }
}
/*! critical:start */
.page-wrapper__section .sticky-top {
  margin-top: 30px;
  top: 20px;
}
.rigdig {
  $self: &;
  &_logo {
    padding-right: map-get($spacers, 2)
  }


  @media (min-width: 992px) {
    &__hide-desktop {
      display: none;
    }
  }

  @media (max-width: 992px) {
    &__hide-mobile {
      display: none;
    }
    &__hide-border-on-mobile {
      border: none;
    }
  }

  &__bg-wrapper {
    padding: 32px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f1f2;
    border-radius: $wrapper-border-radius;
    margin-bottom: 30px;
    margin-top: 30px;
    position: relative;
    .pull-graphic {
      right: -42px;
      margin-bottom: -32px;
      @include border-radius($theme-page-border-radius, 10px);
      #{ $self }__graphic {
        @include border-radius($theme-page-border-radius, 10px);
      }
      @media (max-width: 992px) {
        border-radius: 0;
        #{ $self }__graphic {
          border-radius: 0;
        }
      }
    }
    @media (max-width: 992px) {
      margin-left: -20px;
      margin-right: -20px; //$marko-web-document-container-gutter * -1;
      border-radius: 0;
      &.row > div[class*='col-'] {
        padding: 0;
      }
    }
  }
  &__border-wrapper {
    padding: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid 1px $gray-500;
    border-radius: $wrapper-border-radius;
    hr {
      width: 100%;
    }
    @media (max-width: 992px) {
      padding-left: 16px;
      padding-right: 16px;
      &--hom {
        border: none;
        padding: 0;
      }
    }
  }
  &__wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &__section-sub-title {
    font-weight: 700;
    font-size: 18px;
    width: 100%;
  }
  &__cta {
    color: $gray-800;
    border-radius: 40px;
    border: solid $gray-500 1px;
    padding: 14px 24px;
    font-weight: 700;
    font-size: 14px;
    &:hover {
      color: $gray-800;
      text-decoration: none;
      cursor: pointer;
    }
  }
  // &__quote {
  //   position: absolute;
  //   left: map-get($spacers, block);
  //   bottom: map-get($spacers, block);
  //   width: calc(100% - 400px);
  // }
  &__card-graphic {
    &--rounded {
      @include border-radius($theme-page-border-radius, 10px);
    }
    max-width: 100%;
  }
  &__graphic {
    max-width: 100%;
  }
  &-btn {
    @include skin-typography($style: "content-meter-cta");
  }
  &__section-title {
    font-weight: 700;
    &--small {
      font-size: 18px;
    }
  }
}

/*! critical:end */
.rigdig-widget {
  &__container {
    padding: 32px;
    margin-left: auto;
    margin-right: auto;
    background-color: $gray-200;
    border-radius: $wrapper-border-radius;
    // @media (max-width: 992px) {
    //   border-radius: 0;
    //   margin-left: -20px;
    //   margin-right: -20px;
    // }
  }
  &__loading-icon {
    width: 20px;
    height: 20px;
    margin-left: map-get($spacers, 2);
    // animate-spin;
    svg {
      fill: $white;
    }
  }
  &__form-group {
    margin-bottom: map-get($spacers, 2);
  }
  &__label {
    &:last-child {
      margin-bottom: 0;
    }
    width: 100%;
  }
  &__label-text {
    margin-bottom: map-get($spacers, 2);
    font-weight: 600;
  }
  &__buttons {
    display: flex;
    align-items: flex-start;
  }
  &__reset {
    margin-left: map-get($spacers, 2);
  }
  &__submit {
    margin-bottom: map-get($spacers, block);
    text-transform: none;
    padding: 12px;
  }
  &__error {
    margin-top: map-get($spacers, 3);
    padding: map-get($spacers, 2);
    border: 1px solid $red;
    border-radius: $input-border-radius;
    color: darken($red, 50%);
    max-width: 455px;
  }
  &__title {
    @include skin-typography($style: "section-header-small");
    margin-right: 2rem;
    text-transform: none;
  }

  &__form-group {
    &--details {
      .rigdig-widget__label {
        font-weight: $font-weight-bold;
      }
      li {
        list-style: none;
        margin-left: -2.5rem;
      }
    }
  }
  &__pricing {
    font-weight: $font-weight-bold;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid $gray-500;
    margin-top: map-get($spacers, 2);
    padding-top: map-get($spacers, 2);
  }
  &__info {
    font-size: 14px;
    padding-top: map-get($spacers, 2);
    padding-bottom: map-get($spacers, 2);
  }
}

.rigdig-modal {
  $self: &;
  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, 0.5);
    z-index: 9999999999;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    @include skin-typography($style: "section-header");
    margin-right: 2rem;
    text-transform: none;
  }
  &__subtitle {
    @include skin-typography($style: "section-header-small");
    padding: 0.75rem 0.75rem 0rem 0.75rem;
    text-transform: none;
    .marko-web-icon--check-circle {
      display: block;
    }
    .marko-web-icon--complete svg {
      color: #16A34A;
      fill: #16A34A;
      path {
        stroke: #16A34A !important;
      }
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    background: #fff;
    border-radius: $wrapper-border-radius;
    max-height: 100vh;
    width: 400px;
    overflow: auto;
    position: relative;
  }
  &__content {
    padding: 15px;
    padding-bottom: 0;
    &--complete {
      padding: 12px;
      + .payfabricTarget {
        display: none;
      }
      #{ $self }__payment-details {
        padding: 15px;
        border: solid 1px $gray-500;
        border-radius: $wrapper-border-radius;
        margin-bottom: 24px;
      }
      .btn-primary {
        text-transform: none;
      }
      #{ $self }__buttons a {
        width: 100%;
        .rigdig-widget__submit {
          margin-bottom: 0;
        }
      }
      dl {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        dt {
          @include make-col(12);
        }
        dd {
          margin-bottom: 0;
          @include make-col(6);
          &:nth-child(4) {
            order: 3;
            font-weight: 700;
            text-align: right;
          }
          &:nth-child(3) {
            order: 4;
          }
        }

      }
    }
  }
  &__copy {
    line-height: 1rem;
  }
  &__close {
    position: absolute;
    right: .75rem;
    top: .75rem;
  }
  &__label {
    width: 100%;
  }
  &__label-text {
    margin-bottom: map-get($spacers, 2);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__promo, &__promo-footer, &__teaser {
    line-height: 1rem;
    font-size: .9rem;
  }
  &__promo {
    display: flex;
    border-radius: $input-border-radius;
    padding: map-get($spacers, 3);
    background: #f3f4f6;
    gap: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    align-items: center;
    & dl {
      margin-bottom: 0;
    }
    & dt {
      font-weight: 600;
    }
  }
  &__step {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 1rem;
  }
  &__promo-footer {
    border-radius: $input-border-radius;
    margin-bottom: map-get($spacers, 3);
    padding: map-get($spacers, 3);
    background: #e5e7eb;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    justify-content: space-between;
  }
  &__teaser {
    display: flex;
    flex-direction: row;
    border-radius: $input-border-radius;
    padding: map-get($spacers, 3);
    align-items: center;
    line-height: 1rem;
    justify-content: space-between;
    margin-bottom: map-get($spacers, 2);
  }
  &__signout-link {
    color: #888;
    font-size: .8rem;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: map-get($spacers, 3);
  }
}

#payfabricTarget:not(:empty) {
  margin-top: 1rem;
}

.rigdig-question {
  &__item--wrapper {
    margin-top: 0; // map-get($spacers, block);
    margin-bottom: 0; // map-get($spacers, block);
    background: none;
    border-bottom: 1px solid $gray-300;
  }
  &__toggle {
    @include theme-toggle-button();
    @include skin-typography($style: "header-1.5");
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    span:not(.marko-web-icon) {
      text-align: left;
    }
    & > .icon {
      @include theme-navbar-link-color(( active: $white, hover: $white, default: $white ));
    }
  }
  &__item--wrapper {
    .node-list {
      padding-top: map-get($spacers, block);
      padding-bottom: map-get($spacers, block);
      &__body {
        display: none;
      }
    }
    &.rigdig-question {
      &__item--open {
        .node-list {
          &__body {
            margin-top: map-get($spacers, 2);
            border-top: solid 1px $gray-100;
            display: initial;
          }
        }
      }
    }
  }
}
