$content-meter-mobile-breakpoint: 600px !default;
.content-meter {
  $self: &;
  &__overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    bottom: 0;
    width: 100%;
    visibility: visible;
    transition: visibility 0s, opacity 0.5s linear;
  }
  &__bar {
    #{ $self } {
      &__call-to-action {
        @include skin-typography($style: "content-meter-cta");
        display: none;
        @media (max-width: $content-meter-mobile-breakpoint) {
          text-align: left;
        }
      }
      &__body {
        display: none;
        #{ $self }__login-form {
          .form-group label {
            display: none;
          }
          @media (max-width: $content-meter-mobile-breakpoint) {
            width: 100%;
          }
          .btn {
            @media (max-width: $content-meter-mobile-breakpoint) {
              width: 100%;
            }
          }
        }
      }
    }
    padding: map-get($spacers, 3);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: $white;
    background: $black;
    // footer zindex is set to 1500 ;)
    z-index: 1501;
  }
  &__toggler {
    border: none;
    background: initial;
    &:focus {
      outline: none;

    }
    .marko-web-icon svg {
      fill: $white;
    };
    @media (max-width: $content-meter-mobile-breakpoint) {
      display: flex;
      width: 100%;
    }
    span:not(.marko-web-icon) {
      @media (max-width: $content-meter-mobile-breakpoint) {
        flex-grow: 2;
        text-align: left;
      }
      color: $white;
      font-family: $skin-font-family-secondary;
      font-weight: $font-weight-bold;
      font-size: 18px;
      line-height: 38px;
      letter-spacing: .3px;
      text-transform: none;
    }
  }

  &__login-form {
    fieldset {
      @media (min-width: $content-meter-mobile-breakpoint) {
        display: flex;
        .form-group {
          margin-bottom: 0;
          margin-right: 1rem;
        }
      }
    }
  }

  &--open {
    #{ $self } {
      &__bar {
        padding-bottom: map-get($spacers, 4);
      }
      &__toggler {
        span {
          @include skin-typography($style: "content-meter-header");
          margin-bottom: map-get($spacers, block);
        }
      }
      &__call-to-action {
        display: block;
      }
      &__body {
        display: flex;
        @media (min-width: $content-meter-mobile-breakpoint) {
          justify-content: center;
        }
      }
    }
  }
}
