$theme-site-header-breakpoints: (
  hide-primary: 100000px, // effectively always hide the primary nav
  hide-secondary: 700px,
  small-logo: 775px,
  small-text-primary: 0,
  small-text-secondary: 830px
);

// Colors
$primary: #da0f13;

// Newsletter signup forms
$skin-newsletter-signup-bg-color: #ed0f14;
$skin-newsletter-signup-inline-btn-color: #600608;

@import "../../node_modules/@randall-reilly/package-global/scss/core";
