import shuffle from "@randall-reilly/package-global/utils/shuffle-array";
import PromoA from "@randall-reilly/package-global/components/blocks/promos/ovd-reader-rigs-submit";
import PromoB from "@randall-reilly/package-global/components/blocks/ovd-pib-manual-promo";
import PromoC from "@parameter1/base-cms-marko-web-theme-monorail/components/blocks/white-papers"
import PromoD from "@randall-reilly/package-global/components/blocks/thr-vin-lookup-promo";

$ const PromotionComponent = shuffle([PromoA, PromoB, PromoC, PromoD])[0];
<${PromotionComponent} />
