@import "@parameter1/base-cms-marko-web/scss/fonts/informapro-fallback";
@import "@parameter1/base-cms-marko-web/scss/fonts/solitaire-mvb-pro-fallback";

$skin-font-family-primary: solitaire-mvb-pro, solitaire-mvb-pro-fallback, sans-serif;
$skin-font-family-secondary: informapro, informapro-fallback, sans-serif;

// Ads
$leaderboard-min-height-mobile: 250px !default;
