import shuffle from "@randall-reilly/package-global/utils/shuffle-array";
import PromoA from "@randall-reilly/package-global/components/blocks/promos/bev-survey-text-only";

$ const PromotionComponent = shuffle([PromoA])[0];
<${PromotionComponent} />
