import shuffle from "@randall-reilly/package-global/utils/shuffle-array";
import PromoA from "@randall-reilly/package-global/components/blocks/promos/ct-bev-survey-2";

$ const PromotionComponent = shuffle([PromoA])[0];
<${PromotionComponent} />
