$theme-site-header-breakpoints: (
  hide-primary: 100000px, // effectively always hide the primary nav
  hide-secondary: 960px,
  small-logo: 1115px,
  small-text-primary: 0,
  small-text-secondary: 1115px
);

// Colors
$primary: #b94909;

// Newsletter signup forms
$skin-newsletter-signup-bg-color: #f0f1f2;
$skin-newsletter-signup-inline-btn-color: #8c3608;

@import "../../node_modules/@randall-reilly/package-global/scss/core";

.safety-watch {
  .btn-secondary,
  .btn-primary {
    &:hover {
      color: #fff;
      background-color: $primary;
      border-color: $primary;
    }
  }
}
.content-page-body {
  .node-list {
    &--section-feed {
      .node-list {
        &__node {
          padding: .5rem;
          margin: .5rem 0;
          background-color: $gray-700;
          &:hover {
            background-color: #000;
          }
          a {
            color: #fff;
          }
        }
      }
    }
  }
}
