@use "sass:math";

$theme-site-header-breakpoints: (
  hide-primary: 100000px, // effectively always hide the primary nav
  hide-secondary: 700px,
  small-logo: 880px,
  small-text-primary: 0,
  small-text-secondary: 880px
);

// Colors
$primary: #103a57;

// Newsletter signup forms
$skin-newsletter-signup-bg-color: #f0f1f2;
$skin-newsletter-signup-inline-btn-color: #103a57;

@import "@randall-reilly/package-global/scss/core";

@import "./directory";
/*! critical:start|content.company */
@import "@parameter1/base-cms-marko-web-leaders/scss/leaders";
@import "./company-page";
@import "./leaders";
/*! critical:end */

.awards {
  .sponsor-logos {
    display: flex;
    align-content: center;
    align-items: stretch; // <-- stretch vertical (default value, can be omitted here)
    justify-content: center;
    .logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: map-get($spacers, block) * 0.5;
      margin: math.div(map-get($spacers, block), 3);
      background-color: #f1f1f1;
      &__sda {
        background-color: $gray-100;
      }
    }
  }
}
